{% load static %}

<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Fitnesspro</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <link href="{% static 'css/loginpage_styling.css' %}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <!-- google-fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Averia+Libre:wght@700&family=Dancing+Script:wght@700&family=Nova+Square&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Averia+Libre:wght@700&family=Dancing+Script:wght@700&family=Nova+Square&display=swap" rel="stylesheet">
</head>

<body>

    <script>
        function showPassword() {
      let x = document.getElementById("Example2");
      let y = document.getElementById("Example3");
      
      if (x.type === "password") {
        x.type = "text";
        y.type = "text";
        
    
      } else {
        x.type = "password";
        y.type = "password";
        
      }
    }

    function confirmPass() {
      let password = document.getElementById("Example2").value;
      let confirmPassword = document.getElementById("Example3").value;
      let error = document.getElementById("error_");
    
      if (password.length>1 || confirmPassword.length>1) 
      {    if (password === confirmPassword) {
      error.innerHTML = "";
    } 
    else{

      error.innerHTML = "BOTH Passwords do not match!";
    }}
}
    </script>


  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
                Fitnesspro
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/login">My Profile </a>
                </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin_login">Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact"> Contact Us</a>
                </li>
              </ul>
              
              
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->


<div class="formbold-main-wrapper" style="font-size: larger; color: rgb(255, 255, 255); margin-bottom: 90px; " >
    <div class="formbold-form-wrapper">
      <form action="/change_user_password" method="POST">
        {% csrf_token %}
        <h1>Changing User Password</h1>
        
        <input name="user_id" type="hidden" value="{{user.id}}"></input>
        {% if user.password %}

       <center><h3>Previous Password was "{{user.password}}"</h3></center>
        
       {% endif %}
         <div class="alert alert-danger" id="error_" role="alert">
         
       </div>
        
         {% if msg %}
         <div class="alert alert-success" role="alert">
         {{msg}}
       </div>
         {% endif %}
            <div class="form-outline mb-4">
            <label class="form-label" for="Example2" >New Password:</label>
          <input type="password" id="Example2" class="form-control" name="n_pass" onchange="confirmPass()" required/>
        </div>
            <div class="form-outline mb-4">
            <label class="form-label" for="Example3">Confirm New Password:</label>
          <input type="password" id="Example3" class="form-control" name="c_pass" onchange="confirmPass()" required/>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex ">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31"  onclick="showPassword()" />
              <label class="form-check-label" for="form2Example31"> Show password </label>
            </div>
          </div>
      
          
        </div>
      
        <button type="submit" class="btn btn-info btn-block mb-4">Confirm</button>
      
      </form>
     </div>
    </div>


     <!-- Footer -->
 <footer class="text-center text-lg-start bg-body-tertiary text-muted ">

  <!-- Section: Links  -->
  <section class="section_links">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i><pre><pre></pre></pre><pre></pre>
            |&nbsp;Company name&nbsp;|
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"><pre><pre></pre></pre><pre></pre>
              |&nbsp;Products&nbsp;|
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"><pre><pre></pre></pre><pre></pre>
              |&nbsp;Useful links&nbsp;|
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"><pre></pre><pre></pre><pre></pre>
              |&nbsp; Contact&nbsp;|</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>  
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 copyright" style="background-color: rgba(0, 0, 0, 0.123);">
    &copy;2024_All Rights Reserved by_
      <a href="https://fahad1078.blogspot.com/">FAHAD ALI</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

     
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/script_of_form.js' %}"></script>
  

</body>

</html>
