{% extends 'parent.html'%}
{% load static %}


{% block content %}
        <!-- slider section -->
        <section class=" slider_section position-relative">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                  <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                      <div>
                        <h3>
                          Fitness
                        </h3>
                        <h2 style="font-family: Nova Square;">
                          Training
                        </h2>
                        <h1 style="font-family: Nova Square; font-size: 45px; background:rgba(0, 0, 0, 0.699);">
                          Fitnesspro
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                          esse .
                        </p>
                        <div class="join_now">
                          <a style="font-size: x-large;" href="/new_registration">
                            JOIN NOW !
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                      <div>
                        <h3>
                          Fitness
                        </h3>
                        <h2 style="font-family: Nova Square;">
                          Training
                        </h2>
                        <h1 style="font-family: Nova Square; font-size: 45px; background:rgba(0, 0, 0, 0.699);">
                          Fitnesspro
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                          esse .
                        </p>
                        <div class="join_now">
                          <a style="font-size: x-large;" href="/new_registration">
                            JOIN NOW !
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                      <div>
                        <h3>
                          Fitness
                        </h3>
                        <h2 style="font-family: Nova Square;">
                          Training
                        </h2>
                        <h1 style="font-family: Nova Square; font-size: 45px; background:rgba(0, 0, 0, 0.699);">
                          Fitnesspro
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                          esse .
                        </p>
                        <div class="join_now">
                          <a style="font-size: x-large;" href="/new_registration">
                            JOIN NOW !
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                      <div>
                        <h3>
                          Fitness
                        </h3>
                        <h2 style="font-family: Nova Square;">
                          Training
                        </h2>
                        <h1 style="font-family: Nova Square; font-size: 45px; background:rgba(0, 0, 0, 0.699);">
                          Fitnesspro
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                          esse .
                        </p>
                        <div class="join_now">
                          <a style="font-size: x-large;" href="/new_registration">
                            JOIN NOW !
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="detail-box">
                      <div>
                        <h3>
                          Fitness
                        </h3>
                        <h2 style="font-family: Nova Square;">
                          Training
                        </h2>
                        <h1 style="font-family: Nova Square; font-size: 45px; background:rgba(0, 0, 0, 0.699);">
                          Fitnesspro
                        </h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                          esse .
                        </p>
                        <div class="join_now">
                          <a style="font-size: x-large;" href="/new_registration">
                            JOIN NOW !
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
          </div>
        </section>
        <!-- end slider section -->
      </div>


  <!-- Us section -->

  <section class="us_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Why Choose Us
        </h2>
      </div>

      <div class="us_container ">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static '/images/u-1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  QUALITY EQUIPMENT
                </h5>
                <p>
                  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static '/images/u-4.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  NUTRITION
                </h5>
                <p>
                  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static '/images/u-2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  HEALTHY DIET PLAN
                </h5>
                <p>
                  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static '/images/u-3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  SPORT TRAINING
                </h5>
                <p>
                  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end us section -->


  <!-- heathy section -->

  <section class="heathy_section layout_padding">
    <div class="container">

      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="detail-box">
            <h2>
              A HEALTHY BODY OWNS A HEALTHY MIND
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            </p>
            <div class="btn-box">
              <a href="">
                READ MORE
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end heathy section -->

  
<!-- BMI section -->
<section class="bmi-section spad" style="background-image: url(./static/images/new_bg.jpg) ;">
  <div class="bmi-bg set-bg" ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 ml-auto">
        <div class="section-title mt-5">
          <Center style="color: rgb(241, 240, 255);"><h2>Calculate your <span>'BODY MASS INDEX'</span></h2></Center>
        </div>
        <div class="bmi-calculator-warp my-5">
          <div class="bmi-calculator">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" placeholder="Weight (Kg)" id="weight">
              </div>
              <div class="col-sm-6">
                <input type="text" placeholder="Height (cm)" id="height">
              </div>
              <div class="col-sm-6">
                <button class="site-btn" onclick="calculateBMI()">Calculate</button>
              </div>
              <div class="col-sm-6">
                <div id="result" style="color: aliceblue;"></div><br>
                
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BMI section end -->

  <!-- trainer section -->

  <section class="trainer_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Gym Trainers
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                Trainer 1
              </h5>
            </div>
            <div class="img-box">
              <img src="{% static '/images/t1.jpg' %}" alt="">
            </div>
            <div class="social_box">
              <a href="">
                <img src="{% static '/images/facebook-logo.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static '/images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static '/images/instagram-logo.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                Trainer 2
              </h5>
            </div>
            <div class="img-box">
              <img src="{% static '/images/t2.jpg' %}" height="388px">
            </div>
            <div class="social_box">
              <a href="">
                <img src="{% static '/images/facebook-logo.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static '/images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static '/images/instagram-logo.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                Trainer 3
              </h5>
            </div>
            <div class="img-box">
              <img src="{% static '/images/t3.jpg' %}" alt="">
            </div>
            <div class="social_box">
              <a href="">
                <img src="{% static '/images/facebook-logo.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static '/images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static '/images/instagram-logo.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end trainer section -->

  <!-- contact section -->


  <section class="contact_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{% static '/images/contact-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->
  
<script>function calculateBMI() {
	var heightInput = document.getElementById("height");
	var weightInput = document.getElementById("weight");
	var resultDiv = document.getElementById("result");
  
	var height = parseFloat(heightInput.value);
	var weight = parseFloat(weightInput.value);
  
	if (isNaN(height) || isNaN(weight)) {
	  resultDiv.innerHTML = "Please enter valid height and weight.";
	  return;
	}
  
	var bmi = weight / ((height / 100) ** 2);
	var category = "";
  
	if (bmi < 18.5) {
	  category = "Underweight";
	} else if (bmi < 25) {
	  category = "Normal weight";
	} else if (bmi < 30) {
	  category = "Overweight";
	} else {
	  category = "Obese";
	}
  
	resultDiv.innerHTML = "Your BMI is " + bmi.toFixed(2) + " (" + category + ")";
  }</script>
{% endblock %}

