{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> {{a_user.first_name}} {{a_user.last_name}}'s Profile - Fitnesspro </title>
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static '/css/styles_of_profilePage.css' %}" >
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
   </head>
   <body>
      
      <main class="cd__main">
         <div class="profile-page">
  <div class="content">
    <div class="content__cover">
    
    <div class="content__avatar" style="background: #d1d1d1"><img src="{{a_user.image.url}}" style="height: 100%; width: 100%; border-radius: 50%;"  ></div>
      <div class="content__bull"><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="content__actions"><a href="/all_members">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
          <path fill="currentColor" d="M192 256A112 112 0 1 0 80 144a111.94 111.94 0 0 0 112 112zm76.8 32h-8.3a157.53 157.53 0 0 1-68.5 16c-24.6 0-47.6-6-68.5-16h-8.3A115.23 115.23 0 0 0 0 403.2V432a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48v-28.8A115.23 115.23 0 0 0 268.8 288z"></path>
          <path fill="currentColor" d="M480 256a96 96 0 1 0-96-96 96 96 0 0 0 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592a48 48 0 0 0 48-48 111.94 111.94 0 0 0-112-112z"></path>
        </svg>
        
      <span>Back to SeeAllMembers</span></a><a href="/delete?u_id={{a_user.id}}">
        <span>DELETE USER</span></a></div>
    <div class="content__title">
      <h1>{{a_user.first_name}} {{a_user.last_name}}</h1><span>username : @{{a_user.username}}</span>
      <pre></pre>
      <span>id # {{a_user.id}}</span>
    </div>
    <div class="content__description">
      <p><b>{{a_user.muscle_strength}}</b> Level User</p>
      <p>Do {{a_user.gym_split}}</p>
      <p>Lives in {{a_user.address}}, Lahore</p>
    </div>
    <ul class="content__list">
      <li><span>{{a_user.no_of_days}} days</span>TOTAL ATTENDANCE</li>
      <li><span>{{bmi}}</span>BMI</li>
      <li><span>{{bmi_status}}</span>BMI STATUS</li>
      
    </ul>
    <!-- <div class="content__button"><a class="button" href="#">
        <div class="button__border"></div>
        <div class="button__bg"></div>
        <p class="button__text">Show more</p></a></div> -->
  </div>
  <div class="bg">
    <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
  </div>
  <div class="theme-switcher-wrapper" id="theme-switcher-wrapper"><span>Themes color</span>
    <ul>
      <li><em class="is-active" data-theme="orange"></em></li>
      <li><em data-theme="green"></em></li>
      <li><em data-theme="purple"></em></li>
      <li><em data-theme="blue"></em></li>
    </ul>
  </div>
  <div class="theme-switcher-button" id="theme-switcher-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path fill="currentColor" d="M352 0H32C14.33 0 0 14.33 0 32v224h384V32c0-17.67-14.33-32-32-32zM0 320c0 35.35 28.66 64 64 64h64v64c0 35.35 28.66 64 64 64s64-28.65 64-64v-64h64c35.34 0 64-28.65 64-64v-32H0v32zm192 104c13.25 0 24 10.74 24 24 0 13.25-10.75 24-24 24s-24-10.75-24-24c0-13.26 10.75-24 24-24z"></path>
    </svg>
  </div>
</div>
        
      </main>
      
      
      <!-- Java Script  -->
      <script src="{% static '/js/script_of_profilePage.js' %}" ></script>
      
   </body>
</html>
